@charset "utf-8";
/* CSS Document */
#cart {
  width: 800px;
  background-color:#F96;
}
table.basic { 
  width:100%; 
  line-height:21px; 
  border-top: 1px solid #cccccc; 
  border-left: 1px solid #cccccc; 
  border-collapse: collapse; 
} 
table.basic th, table.basic td { 
  color:#678197; 
  text-align:center; 
  border-right: 1px solid #cccccc; 
  border-bottom: 1px solid #cccccc; 
  padding: 3px 0; 
  text-align:center; 
} 
table.basic th { 
  background-color: #F4FA58; 
} 
table.basic tr {
  background-color:#FFF;
}
table.basic tr:nth-child(odd) {
  background-color:#EEFAFD;
}


